<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Online Bank</title>
	
	</head>
	<body>
		<h2>Transaction History</h2>
		<table>
		    <tr>
		        <th>Id</th>
		        <th>Retailer</th>
		        <th>Description</th>
		        <th>Date</th>
		        <th>Amount</th>
		        <th>Type</th>
		    </tr>
		   <tr th:each="transaction : ${transactions}">
		        <td><a th:href="@{'/transaction/' + ${transaction.id}}" th:text="${transaction.id}"></a></td>
		        <td th:text="${transaction.retailer}"></td>
		        <td th:text="${transaction.description}"></td>
		        <td th:text="${transaction.date}"></td>
		        <td th:text="${transaction.amount}"></td>
		        <td th:text="${transaction.type}"></td>
		    </tr>
		</table>
	</body>
</html>